{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
    <h1>Authors</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Dob</th>
                <th>Man</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.dob ? author.dob|date('Y-m-d') : '' }}</td>
                <td>{{ author.gender ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('author_show', {'id': author.id}) }}">show</a>
                    <a href="{{ path('author_edit', {'id': author.id}) }}">edit</a>
                    {#{{ include('author/_delete_form.html.twig') }}#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#add paginator example and move it to custom block or widget in future #}
    {% block pager %}
        {% include 'block/pager.html.twig' %}
    {% endblock pager %}


    {% if authors %}
        <div class="alert alert-primary" role="alert">
                Listed {{authors|length}} authors from {{ ion_pager.total_count }}{% if filter %}, filtered by "{{ filter }}"{% endif %}
        </div>
    {% endif %}
    <a class="btn btn-primary" role="button" href="{{ path('author_new') }}">Add new author</a>
{% endblock %}
