{% extends 'base.html.twig' %}

{% block title %}Genre index{% endblock %}

{% block body %}
    <h1>Genre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.name }}</td>
                <td>
                    <a href="{{ path('genre_show', {'id': genre.id}) }}">show</a>
                    <a href="{{ path('genre_edit', {'id': genre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% block pager %}
        {% include 'block/pager.html.twig' %}
    {% endblock pager %}
    {% if genres %}
        <div class="alert alert-primary" role="alert">
            Listed {{genres|length}} genres from {{ ion_pager.total_count }}{% if filter %}, filtered by "{{ filter }}"{% endif %}
        </div>
    {% endif %}
    <a class="btn btn-primary" role="button" href="{{ path('genre_new') }}">Create new</a>
{% endblock %}
